body {
	background-image: url("kpp.jpg");
    background-repeat: repeat;
}

.white_bg 
{
    padding: 8px;
}

h1 {
	text-align: right;
    background-color: #ffffff;
	color: powderblue;
    padding: 3px;
}

p {
	font-size: 20px;
	font-style: oblique;
	font-family: courier;
	background-color: #ffffff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}